@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #020103;
}

.gradientText {
  background: linear-gradient(90deg, #9795ff, #ffffff, #9795ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainBg {
  background: url("/bg.png");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}
